.outer {
    width: 500px;
    height: 500px;
    border: 1px solid red;
    display: flex;
    /*align-items: flex-end;*/
    /* align-items: center;*/
    /*justify-content: flex-end;*/
    /*justify-content: center;*/
    /*justify-content: space-between;*/

}

.inner {
    border: 1px solid red;
    height: 100px;
    width: 100px;
}